<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
  <title>Django DRF - React : Quickstart - Valentino G. - www.valentinog.com</title>
  <style>
    svg {
      filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .7));
    }

    svg > g:hover {
      cursor: pointer;
    }
    svg > g:hover *[fill="#CC2229"] {
      fill:  #FFFFFF;
    }
    svg > g:hover *[fill="#FFFFFF"] {
      fill:  #CC2229;
    }

    svg > g:hover path {
      fill: #CC2229;
    }
  </style>
</head>
<body>
          <div id="app" class="columns"><!-- React --></div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>